* {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    130deg,
    #abb7ff,
    #8aa1ff,
    #608bff,
    #0076ff,
    #608bff,
    #8aa1ff,
    #abb7ff
  );
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1 0 auto;
}

.container-share {
  position: fixed;
  top: 20px;
  left: 75%;
  transform: translate(-50%, 0%);
}

.btn-share{
  background-color: #fff;
  color: #8470ff;
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.5s ease-in;
}

.btn-share:hover{
  transition: 0.5s ease-in;
  transform: scale(1.05);
}

.img-perfil {
  border-radius: 50%;
}

.link-header {
  font-size: 26px;
  cursor: pointer;
}

.link-main {
  font-size: 26px;
  text-decoration: none;
  cursor: pointer;
  color: #8470ff;
}

.link-main:hover .card-link-main {
  transition: 0.5s ease-in-out;
  transform: scale(1.05);
}

.card-link-main {
  background-color: #fff;
  border-radius: 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}


@media screen and (max-width: 768px){
  .container-share{
    left: 90%;
  }
}