@function rem-calc($size) {
  $value: calc($size / 16);

  @return #{$value}rem;
}

:root {
  --color-primary: #00df5e;
  --color-dark: #171717;
  --color-ligth-dark: #212121;
  --color-gray: #333333;
  --color-ligth-gray: #828282;
  --color-white: #f9f9f9;
}

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: rem-calc(8);
  }
  &::-webkit-scrollbar-track {
    background-color: var(--color-dark);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: rem-calc(10);
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
}

.header {
  padding-top: rem-calc(15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
      width: rem-calc(160);
      height: rem-calc(160);
      border-radius: 50%;
      background-color: var(--color-gray);
    }

    &__name {
      color: var(--color-white);
      font-weight: 700;
      font-size: rem-calc(28);
      margin-top: rem-calc(16);
    }
  }

  &__social-media {
    margin-top: rem-calc(12);

    &__img {
      width: rem-calc(24);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  margin-top: rem-calc(60);

  .social-media {
    display: flex;
    flex-direction: column;
    gap: rem-calc(15) 0;

    &__link {
      text-decoration: none;
      color: var(--color-ligth-gray);
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(rem-calc(1)) translateZ(0);
      transform: perspective(rem-calc(1)) translateZ(0);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-property: transform;
      transition-property: transform;

      &:hover,
      &:focus,
      &:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: var(--color-white);
      }
    }

    &__card {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem-calc(8);
      width: rem-calc(250);
      background-color: var(--color-gray);
      padding: rem-calc(10) 0;
      border-radius: rem-calc(6);

      &__img {
        width: rem-calc(30);
      }

      &__title {
        font-size: rem-calc(18);
        font-weight: 500;
      }
    }
  }
}
